.card {
    transition: 0.3s;
    /*width: 10%;
    margin: 2px;
    background-color: #ffffff; */
    display: inline-block;
    background: #fff;
    margin: 0.5em;
    width: 150px;
	-webkit-transition:1s ease all;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 195px;
} 
.card img{max-width:100%; height: 150px;;}

/* .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} */

.container {
    padding: 5px;
    padding-top: 0px;
}
.container p{
    padding: 0px;
    margin: 0px;
    display: flex;
}