.gender-type-box {
    display: flex;
    margin-left: 2%;
    margin-top:1%;
}
.icon-item {
    width: 50px;
    height: auto;
    text-align: center;
}
.icon {
    background-size: 100%;
    width: 25px;
    height: 25px;
    display: inline-block;
}
.icon-text {
    font-size: 14px;
    display: block;
}
.icon-text.active {
    color: red;
}
.icon-1 {
    background-image: url("https://image.flaticon.com/icons/svg/437/437522.svg");
}
.icon-1.active {
    background-color: red;
    -webkit-mask:  url(https://image.flaticon.com/icons/svg/437/437522.svg) no-repeat;
    mask: url(https://image.flaticon.com/icons/svg/437/437522.svg) no-repeat;
    background-image: none;
}
.icon-2 {
    background-image: url("https://image.flaticon.com/icons/svg/912/912316.svg");
}
.icon-2.active {
    background-color: red;
    -webkit-mask:  url(https://image.flaticon.com/icons/svg/912/912316.svg) no-repeat;
    mask: url(https://image.flaticon.com/icons/svg/912/912316.svg) no-repeat;
    background-image: none;
}
.icon-3 {
    background-image: url("https://image.flaticon.com/icons/svg/522/522400.svg");
}
.icon-3.active {
    background-color: red;
    -webkit-mask:  url(https://image.flaticon.com/icons/svg/522/522400.svg) no-repeat;
    mask: url(https://image.flaticon.com/icons/svg/522/522400.svg) no-repeat;
    background-image: none;
}
.icon-4 {
    background-image: url("https://image.flaticon.com/icons/svg/941/941515.svg");
}
.icon-4.active {
    background-color: red;
    -webkit-mask:  url(https://image.flaticon.com/icons/svg/941/941515.svg) no-repeat;
    mask: url(https://image.flaticon.com/icons/svg/941/941515.svg) no-repeat;
    background-image: none;
}
.icon-5 {
    background-image: url("https://image.flaticon.com/icons/svg/1077/1077982.svg");
}
.icon-5.active {
    background-color: red;
    -webkit-mask:  url(https://image.flaticon.com/icons/svg/1077/1077982.svg) no-repeat;
    mask: url(https://image.flaticon.com/icons/svg/1077/1077982.svg) no-repeat;
    background-image: none;
}